#menucup1 {
  position: absolute;
  right: 30%;
  bottom: 5%;
  opacity: 0.7;
}

#oranges {
  position: absolute;
  right: 0;
  bottom: 5%;
  opacity: 0.8;
}

#grapefruit {
  position: absolute;
  top: 10vh;
  left: 10%;
  opacity: 0.8;
}

#lime {
  position: absolute;
  bottom: 60px;
  left: 0;
  opacity: 0.8;
}

#mychamenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#pfruit {
  position: absolute;
  bottom: 70px;
  left: 20%;
  opacity: 0.8;
}

#pockymenu {
  position: absolute;
  right: 17%;
  opacity: 1;
}
