.sdo-main {
  background: white;
  animation: sdo 0.5s ease;
  animation-fill-mode: forwards;
  z-index: 16;
  overflow: auto;
}

.sdo-f {
  animation: sdofade 0.6s ease;
}

.sdo-l {
  font-size: 18px;

  @media only screen and (max-width: 500px) {
    font-size: 16px;
  }
}

@keyframes sdofade {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sdo {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sdoout {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-300px);
  }
}

.sdo-m {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 8%;
  justify-content: center;
}

.sdo-pc {
  margin: 0px 0 25px 0;
}

.sdo-head {
  @media only screen and (max-width: 700px) {
    text-align: unset !important;
  }
}

.sdo-left {
  max-width: 300px;

  margin-left: 1%;

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.sdo-container {
  box-sizing: border-box;
}

.sdo-v {
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.5s ease all;
  user-select: none;

  &:hover {
    color: rgb(109, 214, 49);
  }
}

.sdo-t {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sdo-div {
  height: 2px;
  // border-radius: 50%;
  border-radius: 10px;
  width: 100%;
  background-color: lightgray;
  margin: 20px 10px;
}

.sdo-custm {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0 10px;
}

.sdo-custc {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  border: 1.5px solid #edeff1;
  transition: 0.35s ease all;
  user-select: none;

  &:hover {
    background-color: #edeff1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.sdo-qcon {
  align-items: center;

  margin-top: 15px;

  background-color: #eceee9;
  border-radius: 64px;

  position: relative;

  height: 48px;

  width: 100%;
}

.sdo-editqty {
  cursor: pointer;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }

  padding: 5px;
  //   border: 1px solid black;
  border-radius: 50%;
  width: 38px;
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  transition: 0.35s ease all;

  user-select: none;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.sdo-w {
  left: 2px;
  background-color: white;
}

.sdo-g {
  right: 2px;
  background-color: var(--mycha);
  color: white;
}

.sdo-qty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 16px;
  max-width: 50%;

  @media only screen and (max-width: 500px) {
    font-size: 14px;

    max-width: 40%;
  }
}

.sdo-atc {
  width: calc(50% - 5px);
  margin-left: 10px;

  background-color: var(--mycha);
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 64px;
  color: white;
  cursor: pointer;

  transition: 0.35s ease all;
  user-select: none;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.sdo-qtyinput {
  background: transparent;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.sdo-qp {
  width: calc(50% - 5px);
  position: relative;
}

.sdo-qtyerr {
  font-size: 14px;
  color: red;

  position: absolute;
  bottom: -10px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

// .sdo-chov {
// }
