table {
  border-collapse: collapse;
}
th {
  display: table-cell;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mitem-parent {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.mitem-container {
  width: 70%;
  max-width: 1100px;
  //   background-color: red;
  display: flex;
  flex-direction: row;
}

.mitem-tableparent {
  width: 120%;
  margin-left: 10vw;
  max-width: 1200px;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 10px;
}

.table-head {
  width: 100%;
  display: table;
}

.tablebody-top {
  display: table-row-group;
}

.tr-top {
  padding: 15px 0;
}

.tr-bot {
  padding: 4px 0;
}

.f500 {
  font-weight: 500;
}

.px4-888 {
  border-bottom: 4px solid #888;
}

.px1-888 {
  border-bottom: 1px solid #888;
}
