table {
  border-collapse: collapse;
}
th {
  display: table-cell;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mitem-parent {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.mitem-container {
  width: 70%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  }
}

.mitem-imgcontainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

.mitem-img {
  display: block;
  width: 100%;
  height: auto;
}

.mitem-tableparent {
  width: 120%;
  max-width: 620px;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  @media only screen and (max-width: 700px) {
    width: 163%;
  }
}

.mitem-tableouter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vw;
  width: 50%;

  @media only screen and (max-width: 700px) {
    margin-left: 0;
    margin-top: 30px;
    width: 85%;
  }
}

.table-head {
  width: 100%;
  display: table;
  scroll-snap-align: start;
  background-color: white;
  margin-top: 5px;

  // @media only screen and (max-width: 700px) {
  //   background-color: white;
  //   margin-top: 5px;
  // }
}

.tablebody-top {
  display: table-row-group;
}

.tr-top {
  padding: 15px 0;
}

.tr-bot {
  padding: 4px 0;
}

.f500 {
  font-weight: 500;
}

.px4-888 {
  border-bottom: 4px solid #888;
}

.px1-888 {
  border-bottom: 1px solid #888;
}

.mitem-head {
  font-size: 24px;
  text-align: center;
}

.mitem-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.mitem-selectchild {
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 5px;
}
