.quantity-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11vh;
}

.machine-container {
  width: 50%;
  aspect-ratio: 0.7;
  user-select: none;
  position: relative;
  min-width: 400px;

  @media only screen and (max-width: 1100px) {
    width: 70%;
  }

  @media only screen and (max-width: 500px) {
    width: 110%;
  }
}

.machine-img {
  width: 100%;
  height: 100%;
}

.container-cups {
  position: absolute;
  width: 48%;
  height: 60%;
  top: 8%;
  left: 13.9%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  justify-content: center;
  align-items: center;
}

.container-map {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);

    & + .quantity-display {
      display: flex !important;
      opacity: 1;
    }
  }
}

.quantity-locationcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
}

.quantity-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quantity-display {
  width: auto;
  height: auto;
  min-width: 150px;
  min-height: 100px;
  padding-bottom: 10px;
  position: absolute;
  background-color: red;
  z-index: 10000;
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  animation: scale 0.2s ease;
  // display: none;

  @media only screen and (max-width: 420px) {
    min-width: 120px;
  }
}

.name-overlay {
  font-size: 16px;

  @media only screen and (max-width: 420px) {
    font-size: 13px;
  }
}

.location-name2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 15px;

  @media only screen and (max-width: 500px) {
    font-size: 17px;
  }
}

.quantity-slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.select-qty {
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 22px;
}

.raw-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 0% 2%;
  margin-top: 20px;
}

.stockdrink-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
