.container-locations {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 2% 5%;
  position: relative;
  padding: 5vh 10% 25vh 10%;

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: 5vh 10% 0 10%;
    gap: 1%;
  }
}

.container-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;

  @media only screen and (max-width: 1200px) {
    height: 530px;
  }

  @media only screen and (max-width: 900px) {
    height: auto;
  }
}

.location-actualparent {
  background-color: white;
  padding-top: 11vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.parent-location {
  width: 100%;
  height: 50vh;
  content: "background gif is from https://giphy.com/stickers/CheetahDigital-chicago-skyline-signals19-cheetah-digital-TLTtAWQvY0Mq92rsiu";
  background: url(../../assets/gifsky.webp);
  background-size: cover;
  background-position: center;
  background-color: white;
  padding-top: 10vh;
  opacity: 0.3;
  position: relative;
  z-index: 3;
}

.locations-header {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: rgb(109, 214, 49);
  z-index: 4;
  font-weight: 600;
  margin-top: 10vh;
}

.heightholder-locations {
  height: 61vh;
  width: 100%;
  background-color: white;
}

.background-gif {
  // background: linear-gradient(to left #41e3ff95, #a6fffc);
  background-image: linear-gradient(45deg, #29dfff33, #a6fffc2c);
  opacity: 1;
  position: fixed;
  top: 11vh;
  left: 0;
  width: 100%;
  height: 100%;
}

.outer-location {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50vh;
  top: 11vh;
}

.location-fdsr {
  width: 100%;
  // height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-imgcontainer {
  width: 100%;
  height: 60%;

  // @media only screen and (max-width: 1200px) {
  //   height: auto;
  // }
}

.img-location {
  width: 100%;
  height: 100%;
  user-select: none;
}

.location-checkqty {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.check-stock {
  position: relative;
  overflow: hidden;
  height: 25px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    bottom: 0;
    transform: translateX(-100%);
    animation: slideout 0.5s ease;
    transition: transform 0.5s ease;
  }

  &:hover::before {
    animation: slidein 0.5s ease;
    transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.location-name {
  font-size: 22px;
  font-weight: 600;
  color: rgba(51, 51, 51);
  margin-top: 20px;
  margin-bottom: 15px;

  @media only screen and (max-width: 500px) {
    font-size: 17px;
  }
}

.location-desc {
  font-size: 19px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.location-add {
  color: rgba(51, 51, 51);
}

.location-hours {
  color: rgba(51, 51, 51);
  margin-bottom: 10px;
  margin-top: 10px;
}

#intersecting-locations1 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 25%;
}

#intersecting-locations2 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 52%;
}

#intersecting-locations3 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 80%;
}
