.container-locations {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 2% 5%;
  position: relative;
  width: 100%;
  z-index: 4;

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 1%;
  }
}

.locations-e {
  width: 100%;
  background-color: #ffffff;
  z-index: 4;
  padding: 5vh 5% 12vh 10%;
  box-sizing: border-box;

  @media only screen and (max-width: 750px) {
    padding: 5vh 5% 12vh;
  }
}

.locations-b {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;

  @media only screen and (max-width: 750px) {
    font-size: 21px;
  }
}

.locations-selectopt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.locations-bt {
  cursor: pointer;
}

.locations-ep {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  height: 450px;

  @media only screen and (max-width: 750px) {
    flex-direction: column-reverse;
    height: auto;
  }
}

.locations-querycontainer {
  height: 100%;
  overflow-y: scroll;

  -webkit-box-shadow: inset 0px 1px 5px 0px #6b6b6b;
  -moz-box-shadow: inset 0px 1px 5px 0px #6b6b6b;
  box-shadow: inset 0px 1px 5px 0px #6b6b6b, inset 0px -1px 5px 0px #6b6b6b;
  clip-path: inset(0px 4px 0px 4px);
  width: 50%;

  @media only screen and (max-width: 750px) {
    width: 100%;
    height: 45vh;
    margin-top: 30px;
  }
}

.locations-querymap {
  padding: 16px 15px;
  border-bottom: 1px solid #edeff1;
  cursor: pointer;
}

.qre-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;

  @media only screen and (max-width: 750px) {
    font-size: 18px;
  }
}

.qre-desc {
  font-size: 14px;
  margin-bottom: 10px;

  @media only screen and (max-width: 750px) {
    font-size: 12px;
  }
}

.locations-fil {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
  }
}

.locations-filq {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media only screen and (max-width: 750px) {
    width: 100%;
  }
}

.locations-w50 {
  width: 50%;
  box-sizing: border-box;

  @media only screen and (max-width: 750px) {
    width: 100%;
  }
}

.locations-w502 {
  width: 100%;
  box-sizing: border-box;
}

.locations-or {
  margin: 15px 0;
  text-align: center;
  user-select: none;
}

.location-opt {
  padding: 15px 10px;
  cursor: pointer;
  border-bottom: 1px solid #edeff1;
  transition: 0.3s ease all;

  &:hover {
    background-color: black;
    color: white;
  }
}

.location-inpsel {
  position: relative;
  padding: 15px 10px;
  cursor: pointer;
  border: 1px solid #000;
  box-sizing: border-box;

  @media only screen and (max-width: 750px) {
    font-size: 14px;
  }
}

.location-inpsel2 {
  position: relative;
  padding: 15px 10px;
  cursor: pointer;
  border: 1px solid #000;
  box-sizing: border-box;

  @media only screen and (max-width: 750px) {
    font-size: 14px;
  }
}

.locations-divider {
  height: 75px;
  width: 2px;
  background-color: #edeff1;
  margin: 0 35px;
}

.locations-divider2 {
  width: 100px;
  height: 2px;
  background-color: #edeff1;
  margin: 35px 0;
}

.location-optcontainer {
  position: absolute;
  top: 53.5px;
  width: 100%;
  left: -1px;
  background-color: white;
  z-index: 2;
  border: 1px solid #000;
  border-top: transparent;
  border-radius: 0 0 4px 4px;
}

.location-rot1 {
  &::before {
    content: "";
    position: absolute;
    right: 30px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 6px solid transparent;
    border-top-color: black;
  }
}

.location-rot2 {
  &::before {
    content: "";
    position: absolute;
    right: 30px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 6px solid transparent;
    border-top-color: black;
    transform: rotate(180deg);
    transform-origin: 6px 0;
  }
}

.location-inp {
  padding: 15px 10px;
  height: 54.5px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;

  @media only screen and (max-width: 750px) {
    font-size: 14px;
  }
}

.container-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;

  @media only screen and (max-width: 1200px) {
    height: 530px;
  }

  @media only screen and (max-width: 900px) {
    height: auto;
  }
}

.location-actualparent {
  background-color: white;
  padding-top: 11vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.parent-location {
  width: 100%;
  height: 50vh;
  content: "background gif is from https://giphy.com/stickers/CheetahDigital-chicago-skyline-signals19-cheetah-digital-TLTtAWQvY0Mq92rsiu";
  background: url(../../assets/gifsky.webp);
  background-size: cover;
  background-position: center;
  background-color: white;
  padding-top: 10vh;
  opacity: 0.3;
  position: relative;
  z-index: 3;
}

.locations-header {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: rgb(109, 214, 49);
  z-index: 4;
  font-weight: 600;
  margin-top: 10vh;
}

.heightholder-locations {
  height: 61vh;
  width: 100%;
  background-color: white;
}

.background-gif {
  // background: linear-gradient(to left #41e3ff95, #a6fffc);
  background-image: linear-gradient(45deg, #29dfff33, #a6fffc2c);
  opacity: 1;
  position: fixed;
  top: 11vh;
  left: 0;
  width: 100%;
  height: 100%;
}

.outer-location {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50vh;
  top: 11vh;
}

.location-fdsr {
  width: 100%;
  // height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-imgcontainer {
  width: 100%;
  height: 60%;

  // @media only screen and (max-width: 1200px) {
  //   height: auto;
  // }
}

.img-location {
  width: 100%;
  height: 100%;
  user-select: none;
}

.location-checkqty {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.check-stock {
  position: relative;
  overflow: hidden;
  height: 25px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    bottom: 0;
    transform: translateX(-100%);
    animation: slideout 0.5s ease;
    transition: transform 0.5s ease;
  }

  &:hover::before {
    animation: slidein 0.5s ease;
    transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.location-name {
  font-size: 22px;
  font-weight: 600;
  color: rgba(51, 51, 51);
  margin-top: 20px;
  margin-bottom: 15px;

  @media only screen and (max-width: 500px) {
    font-size: 17px;
  }
}

.location-desc {
  font-size: 19px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.location-add {
  color: rgba(51, 51, 51);
}

.location-hours {
  color: rgba(51, 51, 51);
  margin-bottom: 10px;
  margin-top: 10px;
}

#intersecting-locations1 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 25%;
}

#intersecting-locations2 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 52%;
}

#intersecting-locations3 {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 80%;
}

.locations-ihref {
  font-style: italic;
  text-decoration: underline;
}

.locations-oos {
  padding-top: 35px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 27px;

  @media only screen and (max-width: 750px) {
    width: 80%;
  }
}

.locations-reset {
  margin-top: 40px;
  color: #0079d3;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
