.nav-home {
  width: 100%;
  height: 14vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  //   justify-content: space-between;
  position: fixed;
  margin-left: 5%;
}

.li-nav {
  cursor: pointer;
  color: white;
  font-size: larger;
}

.li-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
}

.container-scroll {
  width: 100%;
}

#container2 {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: inline mandatory;
}
.child-scroll {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

#b37 {
  background: url(../../assets/b37loc2.png) no-repeat center center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#uic {
  background-image: url(../../assets/b37loc2.png);
  background-position: center;
  background-size: cover;
}

#ucmed {
  background-image: url(../../assets/b37loc2.png);
  background-position: center;
  background-size: cover;
}

#rush {
  background-image: url(../../assets/b37loc2.png);
  background-position: center;
  background-size: cover;
}
