ul {
  padding-inline-start: 0;
}

textarea {
  resize: none;
}

.nav-home {
  width: 100%;
  height: 11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  padding-left: 5%;
  top: 0;
  background-color: white;
  transition: all 0.3s ease;

  @media only screen and (max-width: 450px) {
    height: auto;
  }
}

.op0 {
  opacity: 0;
}

.li-nav {
  cursor: pointer;
  font-size: larger;
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
  &::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -5px;
    background-color: black;
    height: 2.5px;
    border-radius: 35%;
    transition: all 0.5s ease;
    opacity: 0;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.li-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;

  @media only screen and (max-width: 1000px) {
    width: 50%;
  }

  @media only screen and (max-width: 800px) {
    width: 60%;
  }
}

.container-scroll {
  width: 100%;
  position: relative;
  user-select: none;
  // aspect-ratio: 2.33;
  height: 100vh;
}

#container2 {
  width: 100%;
  height: 80%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: inline mandatory;
}

.backgroundimage-scrolldiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/homeback.png);
  background-size: cover;
  background-position: center;
  opacity: 1;
  box-shadow: 0px 5px 5px gainsboro;

  @media only screen and (max-width: 1150px) {
    background-position: 70% 25%;
    opacity: 0.15;
    box-shadow: 0px 5px 5px black;
  }
}

.scrolldivoverlay {
  position: absolute;
  top: 0;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  opacity: 0.7;

  @media only screen and (max-width: 1150px) {
    display: none;
  }
}

.child-scroll {
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    align-items: center;
    width: 90%;
  }
}

.scroll-title {
  color: rgb(105, 229, 33);
  font-size: 65px;
  font-weight: 600;
  font-family: comic_sans_msitalic;
  @media only screen and (max-width: 700px) {
    font-size: 30px;
    text-align: center;
  }
}

.scroll-desc {
  color: rgba(51, 51, 51);
  font-size: 24px;
  width: 100%;
  font-family: comic_sans_msitalic;
  @media only screen and (max-width: 700px) {
    width: 95%;
    font-size: 19px;
    text-align: center;
  }
}

.container-titledesc {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
  margin-left: 5%;

  @media only screen and (max-width: 700px) {
    width: 90%;
    align-items: center;
  }
}

body {
  overflow-x: hidden;
}

.our-locations-btn {
  color: white;
  cursor: pointer;
  user-select: auto;
  font-size: 20px;
  width: 140px;
  height: 50px;
  border-radius: 19px;
  background-color: rgb(109, 214, 49);
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 450px) {
    width: 110px;
    height: 40px;
    font-size: 16px;
  }
}

.container-section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.innercontainer-section2 {
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-section2 {
  color: rgb(109, 214, 49);
  font-size: 30px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    font-size: 22px;
  }
}

.desc-section2 {
  text-align: center;
  font-size: 20px;
  line-height: 1.7;

  @media only screen and (max-width: 600px) {
    width: 150%;
    font-size: 16px;
  }
}

.menucontainer-section2 {
  display: flex;
  flex-direction: row;
  width: 130%;
  justify-content: space-evenly;
  margin-top: 3vh;
  position: relative;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;

    & > #first-menu,
    #second-menu {
      margin-bottom: 15px;
    }
  }
}

.image-menu {
  width: 30%;
  aspect-ratio: 2;
  position: relative;
  cursor: pointer;

  @media only screen and (max-width: 700px) {
    width: 65%;
  }

  @media only screen and (max-width: 450px) {
    width: 80%;
  }

  &::before {
    content: attr(text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: white;
    z-index: 2;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    @media only screen and (max-width: 500px) {
      font-size: 18px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1.15);
  }
}

#first-menu {
  background-image: url(../../assets/fruitteastock.png);
  background-size: cover;
  background-position: center;
}

#second-menu {
  background-image: url(../../assets/bobastockimg.png);
  background-size: cover;
  background-position: center;
}

#third-menu {
  background-image: url(../../assets/speciality.png);
  background-size: cover;
  background-position: center;
}

#menuhref {
  font-size: 22px;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
  }
}

.fadeintop {
  animation: fadetop 1.2s ease;
}

@keyframes fadetop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intersecting-observer1 {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
}

#intersecting-observer2 {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 19vh;
}

#intersecting-observer3 {
  height: 11px;
  width: 100%;
  position: absolute;
  top: 7vh;
}

.instagram {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120%;
  position: relative;
}

.li-container2 {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media only screen and (max-width: 400px) {
    width: 25%;
  }
}

.hamburger-nav {
  width: 40px;
  height: 2px;
  background-color: black;

  &::before {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 35%;
  }

  &::after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: black;
    bottom: 35%;
  }
}

.overlay-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-100%);
  opacity: 0;
}

.overlay-child {
  cursor: pointer;
  font-size: 40px;

  @media only screen and (max-width: 450px) {
    font-size: 32px;
  }
}

.x-container {
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#x {
  width: 30px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 14px;

  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.contact-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 55%;
  position: relative;

  @media only screen and (max-width: 1250px) {
    width: 70%;
  }
}

.desc-sectioncontact {
  text-align: center;
  font-size: 20px;
  line-height: 1.7;

  @media only screen and (max-width: 600px) {
    width: 125%;
    font-size: 16px;
  }
}

.mbot {
  margin-bottom: 30px;
  line-height: 1.6;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 70%;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  @media only screen and (max-width: 450px) {
    width: 120%;
  }
}

.label-contact {
  font-size: 21px;
  margin-bottom: 5px;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
  }
}

.input-contact {
  border-radius: 7%;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 6px 6px 6px;
}

.star {
  color: red;
}

.radio-container {
  display: flex;
  flex-direction: row;
}

.mleft10 {
  margin-left: 10px;
}

#textarea-container {
  width: 100%;
}

.tarea-contact {
  border-radius: 7%;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.submitbut-contact {
  background-color: transparent;
  border: 1px solid black;
  height: 40px;
  width: 100px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  border-radius: 10%;
  font-size: 16px;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0px 0px 12px gainsboro;
  }
}

.errormsg {
  color: red;
  margin-bottom: 5px;
}

.nodisplay {
  display: none;
}

.lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(51, 51, 51) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ty-message {
  font-size: 22px;
  font-weight: 600;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
    width: 160%;
    text-align: center;
  }
}

#contact-intersectingobserver {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 7vh;
}

#insta-animation {
  width: 60%;
  border: 1px #f4f4f4 solid;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  @media only screen and (max-width: 450px) {
    width: 120%;
  }
}

.select-contact2 {
  position: relative;
  width: 100%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7%;
  padding: 10px 10px 10px 10px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
}

.select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  margin-bottom: 10px;
}

.select-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  margin-bottom: 10px;
}

.li-contact {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  position: absolute;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 3px;

  &:hover {
    background-color: rgb(51, 51, 51);
    color: white;
  }
}

.li-contact2 {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  margin-top: 3px;
  position: absolute;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(51, 51, 51);
    color: white;
  }
}
