.outercontainer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  background: white;
  z-index: 10;
}

.sliding-placeholder {
  width: 100%;
  height: 50vh;
  font-size: 50px;
  position: relative;
  background-image: linear-gradient(162deg, #fce6fa 0%, #fdedff 100%);
  padding-top: 11vh;
}

.innercontainer-menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 7%;
}

.img-menucontainer {
  // height: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
}

.menu-txtcontainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  width: 70%;
}

.container-sectionmenu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 5% 0;

  @media only screen and (max-width: 850px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.menu-title {
  font-size: 35px;
  font-weight: 600;
  color: rbg(51, 51, 51);
  display: flex;
  align-items: center;

  @media only screen and (max-width: 550px) {
    font-size: 25px;
  }
}

.menu-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  aspect-ratio: 3;
}

.img-menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 95%;
  width: 95%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.name-menu {
  font-size: 20px;

  @media only screen and (max-width: 410px) {
    font-size: 16px;
  }
}

.menu-learnmore {
  font-size: 18px;

  @media only screen and (max-width: 410px) {
    font-size: 14px;
  }
}

.menu-divider {
  height: 3px;
  width: 100%;
  margin: 1vh 0 2vh;
  border-radius: 50%;
}

.intersecting-milkteasection {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 17%;
}

.intersecting-specialsection {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 17%;
}

.catering-parent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  line-height: 1.7;
  position: relative;
}

.catering-desc {
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 55px;
  // width: 60%;

  // @media only screen and (max-width: 800px) {
  //   width: 80%;
  // }

  @media only screen and (max-width: 600px) {
    font-size: 18px;
    line-height: 30px;
  }

  @media only screen and (max-width: 400px) {
    font-size: 16px;
    line-height: 30px;
    width: 110%;
  }
}

.catering-form {
  cursor: pointer;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: 21px;
  position: relative;

  @media only screen and (max-width: 450px) {
    font-size: 17px;
  }

  &::before {
    content: "";
    width: 4px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s ease-in;
    opacity: 0.8;
    border-radius: 50%;
  }

  &::after {
    content: "";
    height: 4px;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s ease-in;
    opacity: 0.8;
    border-radius: 50%;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover::before {
    height: 100%;
  }

  &:hover > span::after {
    width: 100%;
  }

  &:hover > span::before {
    height: 100%;
  }
}

.catering-formchild {
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    width: 2px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    transition: all 0.3s ease-in;
    opacity: 0.8;
    border-radius: 50%;
  }

  &::after {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    transition: all 0.3s ease-in;
    opacity: 0.8;
    border-radius: 50%;
  }
}

#catering-intersectingobserver {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 9vh;
}
