#bobacup1 {
  transform: rotate(45deg);
  top: 45%;
  left: 20%;
  position: absolute;
}

.machine-img2 {
  height: 250px;
  aspect-ratio: 0.7;
  position: absolute;
  right: 20%;
  top: 24%;
  transform: rotate(-45deg);
}

#cup2 {
  top: 10%;
  position: absolute;
  left: 5%;
  opacity: 0.5;
}

#cup3 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  transform: rotate(45deg);
}

#pocky {
  position: absolute;
  right: 32%;
  top: 0%;
  transform: rotate(55deg);
}

#palm {
  position: absolute;
  transform: rotate(-45deg);
  bottom: 5%;
}

#locationword {
  width: 439px;

  @media only screen and (max-width: 600px) {
    width: 280px;
  }
}
