.stock-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.stock-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @media only screen and (min-width: 700px) {
    width: 360px;
  }
}

.stock-location,
.stock-region {
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
}

.stock-locationoverlay,
.stock-regionoverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid black;
  position: absolute;
  max-height: 50%;
  overflow-y: scroll;
}

.stock-li {
  padding: 8px 4px;
  min-width: 128px;
  border-bottom: 1px solid #edeff1;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;

  &:hover {
    background-color: black;
    color: white;
  }
}

.stock-numpad {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.s-numpad-li {
  width: 62px;
  height: 62px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}

.stock-drinkselect {
  display: grid;
  overflow-y: scroll;
  grid-auto-flow: column;
  grid-auto-columns: 90px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  justify-items: center;
  margin-top: 15px;
  gap: 5px;
  padding: 0 8px;
  box-sizing: border-box;

  //computer screen we want to center elements
  @media only screen and (min-width: 700px) {
    justify-content: center;
    gap: 20px;
  }
}

.stock-admincups {
  width: 90px;
  padding-bottom: 20px;
  cursor: pointer;
}

.stock-admincupparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.stock-drinkname {
  font-size: 8px;

  @media only screen and (min-width: 700px) {
    font-size: 12px;
  }
}

.stock-submit {
  padding: 12px 20px;
  background-color: black;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.stock-n {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
}

//slots below
.ss-ul {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.ss-li {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;

  @media only screen and (max-width: 500px) {
    width: 38px;
    height: 38px;
  }
}

.ss-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -37.5px;
  height: 30px;
  width: 30px;
}

.load-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-set {
  margin: 20px 0 8px 0;
  font-size: 18px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.stock-overwrite {
  cursor: pointer;
  font-size: 12px;
  color: #1c1c1c;
  margin-bottom: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.stock-overwriteinput {
  margin-bottom: 5px;
}

.stock-cancel {
  font-size: 12px;
  color: red;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.stock-sd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-submittime {
  color: #1c1c1c !important;
  margin-right: 10px;
}

.stock-con {
  margin-bottom: 15px;
}

.stock-ei {
  margin: 20px 0;
  font-size: 22px;
}

.stock-memoinput {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
